# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1=5

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2=6.54

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [14]:
height = 1.55

#### 6. asign variable "mass" with your weight

In [15]:
mass = 60

In [20]:
mass

60

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [21]:
bmi = mass/(height*height)

In [ ]:
print

#### 8. print value from "bmi" variable

In [22]:
print(bmi)

24.97398543184183

In [19]:
height

1.55

# String

#### 1. Create variable "name" with your first name

In [23]:
name='Phani Madhavi'

In [24]:
name

'Phani Madhavi'

#### 2. Create variable "surname" with your surname

In [25]:
surname= 'Singaraju'

In [26]:
surname

'Singaraju'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [28]:
name_surname= name + ' ' + surname

#### 4. print variable "name_surname"

In [29]:
print(name_surname)

Phani Madhavi Singaraju

#### 5. print first letter from variable "name_surname"

In [30]:
name_surname[0]

'P'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [32]:
print(name+surname)

Phani MadhaviSingaraju

#### 7. print your surname 10x (use variable surname)

In [33]:
print(surname*10)

SingarajuSingarajuSingarajuSingarajuSingarajuSingarajuSingarajuSingarajuSingarajuSingaraju

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [34]:
message="Hello my name is "+name_surname

#### 9. print "message" variable

In [35]:
print(message)

Hello my name is Phani Madhavi Singaraju

## List

#### 1. create empty list with name "empty_list"

In [36]:
empty_list=[]

#### 2. create list "heights" with five random values

In [37]:
heights=3,4,6,2,4

#### 3. print heights

In [38]:
print(heights)

(3, 4, 6, 2, 4)

#### 4. print type of variable "heights"

In [39]:
type(heights)

tuple

#### 5. print second value from "heights"

In [40]:
heights[1]

4

#### 6. assign last three values from "heights" to another list "heights_2"

In [41]:
heights_2=heights[2:]

#### 7. print "heights_2"

In [42]:
print(heights_2)

(6, 2, 4)

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [43]:
list_all=heights+heights_2

#### 9. print "list_all"

In [44]:
print(list_all)

(3, 4, 6, 2, 4, 6, 2, 4)

#### 10. print the type of "list_all"

In [45]:
type(list_all)

tuple

## Tuple

#### 1. create empty tuple with name empty_tuple

In [46]:
empty_tuple=()

In [47]:
empty_tuple[0]=Phani Madhavi

SyntaxError: invalid syntax (<ipython-input-47-efccc09e611a>, line 1)

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [48]:
empty_tuple[0]=Phani Madhavi

SyntaxError: invalid syntax (<ipython-input-48-efccc09e611a>, line 1)

#### 3. According to question number 2, what is the main difference between list and tuple?

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [49]:
empty_dict={}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [52]:
heights_dict={'PhaniMadhavi' : '1.54'}

#### 3. asign another name and height to "heights_dict"

In [53]:
heights_dict['Siddhaarth']= '1.25'

#### 4. print "heights_dict" dictionary

In [54]:
print(heights_dict)

{'PhaniMadhavi': '1.54', 'Siddhaarth': '1.25'}

#### 5. print your height from the "heights_dict" dictionary

In [56]:
heights_dict['PhaniMadhavi']

'1.54'

#### 6. print all values from "heights_dict" dictionary

In [57]:
heights_dict.values()

dict_values(['1.54', '1.25'])

#### 7. print all keys from "heights_dict" dictionary

In [59]:
heights_dict.keys()

dict_keys(['PhaniMadhavi', 'Siddhaarth'])